<div id="addbg">

    <div class="tempInformation ">
        <div class="top_layer">
            <p class="day">tuesday</p>
            <p class="today_data">13 oct</p>
        </div>
        <div class="main_layer">
            <p id="city_name">get outupt here</p>
            <div class="middle_layer ">
                <p class="temp"><span class="temp_c">0</span > <sup>o</sup>C</p>
                <p class="temp_status"> </p>
                {{!-- <p class="temp_desp"> </p> --}}
            </div>
        </div>
    </div>
    <div class="btn_position">

    <button id="dltBtn" class="dltBtn_css"><i class="fas fa-trash-alt dlt_icon"><span class="tooltiptext">Delete Permanently</span></i></button>
    </div>
</div>